
*{
  padding: 0;
  margin: 0;
}

body {
  background: #CAE9FF;
  font-family: 'Smooch', cursive;
  height: 100%;
  
}


.container{
  border: 1px solid black;
  width: 90%;
  margin: auto;
  display: flex;

}

.groceries{
  
  width: 600px;
  min-height: 100vh;
  margin: auto;
  background-color: aliceblue;
  box-shadow: 10px 10px 24px 0 rgb(0, 0, 0, 0.5);
}

.groceries h1{
  margin-top: 1em;
  font-size: 2.5em;
}

.groceries i{
  color:darkcyan;
  font-size: 2em;
}

.groceries input{
  outline: 0;
  width: 70%;
  border: 0;
  border-bottom: 3px solid darkcyan;
  font-size: 1.5rem;
  font-family: inherit;
  background-color: transparent;
}

#listItems h2{
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 15px;
  font-size: 2rem;
}

@media(max-width: 480px){
  .groceries h1{
    font-size: 2rem;
  }
  .groceries i{
    font-size: 1.5rem;
  }
  .groceries input{
    font-size: 1rem;
  }
  .listItems h2{
    font-size: 1.5rem;
    margin-left: 25px;
  }
}
